version: "3.8"

services:
  mysql-primary:
    build: ./primary
    container_name: mysql-primary
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: appdb
    networks:
      - proxynet

  mysql-replica:
    build: ./replica
    container_name: mysql-replica
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: appdb
    networks:
      - proxynet

  proxysql:
    image: proxysql/proxysql:2.5.5
    container_name: proxysql
    ports:
      - "6032:6032"
      - "6033:6033"
    networks:
      - proxynet
    depends_on:
      - mysql-primary
      - mysql-replica

networks:
  proxynet:
    driver: bridge
